<!DOCTYPE html>
<html lang="en">
    <head>
        <title>USER ACCOUNT DETAILS</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
          header{ 
             background-image: url('../images/background.jpeg') ;
             opacity: 0.75;
          }
           #DIV {
             margin-top: 55px;
          }
        </style>
      </head>
  <body>
    <header>
    <% include adminHeader %>
    <div id="DIV" style="background-color: rgb(235, 235, 228); font-weight: bolder;color: rgb(46, 88, 45);font-size: xx-large; width: fit-content; margin-left: 200px; " >
      <p>THE INFINITY PETALS - ADMIN WEBPAGE</p>
    </div>
  </header>

  <div class="row">
    <div class="col">

    </div>
    <div class="col-9">
      <a href="/admin/signup-admin"><h3>ADD A NEW ADMIN</h3></a></br>
      <table class="table">
        <thead>
          <tr>            
            <th scope="col">USER-IDS</th>
            <th scope="col">Registered email-IDs</th>
            <th scope="col">Date Created</th>
            <th scope="col">Action</th>  
          </tr>
        </thead>
        <tbody>
            <% if(adminAcountRecord.length > 0) {%> 
                <% adminAcountRecord.forEach(function(data){ %> 
              <tr>                
                <td> <%= data.username %> </td>
                <td> <%= data.email %> </td>
                <td> <%= data.time_of_creation %> </td>
                <th> 
                <a class="btn btn-warning" href="/admin/viewAccount/delete/<%=data._id %>"> <i class="fa fa-trash"></i> </a>    
                </th>  
              </tr>       
  
            <% }) %>

            <% } else { %> 
              <h2 style="color : red ; padding-left: 50px; margin: 0px;">Error! Admin Details Not Available</h2>
            <% } %> 
        </tbody>
      </table>

    </div>
    <div class="col">

    </div>

    

  </div>
     
</body>
</html>