<p style="text-align: center; background-color: rgb(161, 161, 194);
 width: 100%; bottom: 0;position: fixed; margin: 0px;
 height: 35px; font-size: 20px; color: honeydew;">
  The Infinity Petals is an online Flower shopping webiste,
  where we provide wide variety of products.
</p>